* {
  font-family: Arial;
}

h1,
h3 {
  font-family: Geneva;
}

body {
  background-color: #e3e3e2;
}

article {
  background-image: linear-gradient(white, Linen);
  border-radius: 0.75em;
  padding: 1.5rem;
  box-shadow: 4px 4px lightgrey;
  margin-bottom: 1rem;
}

header {
  background-image: url(https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80);
  background-size: cover;
  color: white;
  border-radius: 0.75em;
  padding: 1.5rem;
  box-shadow: 2px 4px lightgrey;
  text-shadow: 0.5px 0.5px lightgrey;
}

/* styling for links */

a {
  color: lightseagreen;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

img {
  display: block;
  height: 20%;
  border: 2px solid lightseagreen;
  border-radius: 0.75em;
  margin-bottom: 1.5rem;
  box-shadow: 2px 4px lightgrey;
}

.subheading {
  border-bottom: 0.15rem solid black;
}
